body{
  font-family: Times New Roman, serif;
  font-size: 25px;
  background: #f2f2f2;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 700px;
  padding: 40px;
  margin: 0 auto;
  border: 1px solid #ddd;
}
h1{/
  font-family: 'Monofett', cursive;
  color: red;
  font-weight: normal;
  font-style: normal;
  font-size: 56px;
  text-shadow: 1px 1px 1px #aaa;
}
img:hover {
  box-shadow: 1px 1px 10px white;
  margin-top: -10px;
}
.table{
  font-family: Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
  text-align: center;
  overflow: hidden;
}
.table th{
  text-align: right;
  padding: 10px;
  color: #333;
  text-shadow: 1px 1px 1px #ccc;
  background-color: #f9f9f9;
}
